<html> 
	<head> 
			<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


	</head>

	<body> 
			<!-- HEADER -->
			<div class="container">
				<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
					<a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
						<!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg> -->
					</a>
		
					<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
						<li><a href="#" class="nav-link px-2 link-secondary">Conversational Recommender System - PC Specification</a></li>
					</ul>
		
					<div class="col-md-3 text-end">
						<!-- <button type="button" class="btn btn-outline-primary me-2">Login</button> -->
						<!-- <button type="button" class="btn btn-primary">Sign-up</button> -->
					</div>
				</header>
			</div>
	
			<!-- STATEMENT 1 -->
			<div class="container d-flex justify-content-center">
				<div class="row col-8">
					<h4 class="fw-bold text-center mt-3">About Conversational Recommender System</h4>
					<p class="text-center">
						Conversational Recommender System (CRS) meruapakan sistem pemberi
						rekomendasi yang mengadopsi mekanisme dari interaksi sistem dan user yang terus
						berulang untuk merekomendasikan produk. CRS ini terinspirasi dari interaksi dari
						percakapan customers dan professional salesman support dengan melakukan
					</p>
					<p class="text-center">
						pertanyaan berulang dari sistem untuk memperoleh rekomendasi [13]. Untuk
						keakuratan sebuah rekomendasi pada CRS akan dibantu dengan query refinement
						model dengan 2 model navigasi yaitu navigation by asking (NBA) dan navigation
						by proposing (NBP) [8][13]. NBA akan menanyakan sebuah pertanyaan iterative
						hingga mengeleminasi items untuk mendapatkan preferensi pengguna secara
						bertahap, untuk navigasi NBP sistem akan mengadaptasi preferensi pengguna saat
						itu berdasarkan kritik pengguna [8][13].
					</p>
							
					<h4 class="fw-bold text-center mt-3"></h4>
					<p class="text-center">
						[8] Z. K. Abdurahman Baizal, Y. R. Murti, and Adiwijaya, “Evaluating
						functional requirements-based compound critiquing on conversational
						recommender system,” 2017 5th Int. Conf. Inf. Commun. Technol. ICoIC7
						2017, vol. 0, no. c, 2017, doi: 10.1109/ICoICT.2017.8074656.
					</p>
					<p class="text-center">
						[9] M. S. Ayundhita, Z. K. A. Baizal, and Y. Sibaroni, “Ontology-based
						conversational recommender system for recommending laptop,” J. Phys.
						Conf. Ser., vol. 1192, no. 1, 2019, doi: 10.1088/1742-6596/1192/1/012020.
					</p>
					
					<a href="/">
						<div class=" mt-4">
							<button type="button" class="btn btn-primary">Kembali</button>
						</div>
					</a>
					
				</div>
			</div>


	</body>
</html>

