<html> 
	<head> 
			<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


	</head>

	<body> 
			<!-- HEADER -->
			<div class="container">
				<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
					<a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
						<!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg> -->
					</a>
		
					<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
						<li><a href="#" class="nav-link px-2 link-secondary">Conversational Recommender System - PC Specification</a></li>
					</ul>
		
					<div class="col-md-3 text-end">
						<!-- <button type="button" class="btn btn-outline-primary me-2">Login</button> -->
						<!-- <button type="button" class="btn btn-primary">Sign-up</button> -->
					</div>
				</header>
			</div>
	
			<!-- STATEMENT 1 -->
			<div class="container d-flex justify-content-center">
				<div class="row col-5">
					<h4 class="fw-bold text-center mt-3">Halo, Selamat datang!</h4>
					<p class="text-center">
						Terima kasih telah datang untuk berpartisipasi dalam Web Apps ini.
						Web Apps ini merupakan Proyek Penelitian untuk Tugas Akhir, Web Apps ini masih berupa prototype.
						Saya ingin meminta maaf jika Anda menemukan bug atau error, jika Anda punya saran
						silahkan hubungi saya, Terima kasih
					</p>
					<p class="text-center fst-italic">
						Thank you for coming to participate this Web Apps.
						This Web Apps is Research Project for Final Task, this Web Apps is still prototypes.
						I would like to apologize if you encounter bug or error, if you have any suggestion
						please contact me, Thank you.
					</p>
					
					<h4 class="fw-bold text-center mt-3">DISCLAIMER!</h4>
					<p class="text-center">
						Data yang digunakan merupakan data tahun 2017, simulasi recommender ini akan mengikuti
						kriteria pada tahun tersebut
					</p>
					<p class="text-center fst-italic">
						The data that used come from latest Year of 2017, This recommender 
						simulation will follow the criteria for that year
					</p>
					
					<a href="/crs/gpu">
						<div class="text-end mt-4">
							<button type="button" class="btn btn-primary">Mulai Rekomendasi!</button>
						</div>
					</a>
					
					<a href="/crs">
						<h6 class="mt-5 text-center">Tentang Conversational Recommender System</h3>
					</a>
				</div>
			</div>


	</body>
</html>

